:root {
  background-color: white;
  --tw-prose-body: rgb(255 255 255);
}

:root.dark {
  background-color: rgb(31 41 55);
  --tw-prose-body: rgb(255 255 255);
}

.document-driven-page > div {
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
